.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  5px solid red;
    
}

/* .header > h3 {

    text-align: center;
    bottom: 10px;
    color: black;
} */

.header__logo{
  
    height: 100px;
    object-fit: contain;
   
}

.header__icon{
    padding: 60px;
    
}